// Import des variables, font et fonctions nécessaires

@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display&family=Vampiro+One&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

@import 'components/variables';
@import 'components/functions';
@import 'components/animations';
@import 'components/articles';
@import 'components/header';
@import 'components/buttons';
@import 'components/carrousel';


body{
  background-color: color(bg-main);
  display: grid;
  place-items: center;
  font-family: font(text);
  color: color(text);
  margin: 0;
}

.mainContainer{
  max-width: size(main-container);
}

.breakline{
  width: auto;
  height: 1px;
  background: #DADEED;
  opacity: .5;
  margin: 30px 0;
}

.top-bar{
  width: 100%;
  height: 5px;
  animation: rotate 3s infinite linear;
  background-color: red;
  animation-direction: infinite;
}


.gradient {
  background: linear-gradient(to right,  rgba(39,204,129,1) 0%,rgba(238,62,82,1) 25%,rgb(245, 184, 39) 50%,rgba(56,196,209,1) 75%,rgba(39,204,129,1) 100%);
}